body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(227, 226, 237);
    background-color: black;
}

#root {

}

.app {
    // border: 2px solid red;
    // height: 100%;
    margin-left: 180px;
}

.header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 50px;
    // position: relative;
    // flex-direction: column;
    background-color: rgb(55, 55, 55);
}

.app-body {
    display: flex;
    // height: 100%;
}

////// NavBar //////

.navbar {
    height: 100%;
    width: 180px;
    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
    text-align: center;
    // padding-left: 30px;
}

.icon {
    width: 60%;
    margin-top: 0;
    // padding-top: 5px;
    // padding-bottom: 5px;
}

// .menu {
//     text-align: center;
//     background-color: rgb(54, 54, 54);
//     margin-top: 0;
//     padding-top: 41px;
//     padding-bottom: 20px;
// }

.containers-btn {
    width: 180px;
    background-color: rgb(30, 30, 30);
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.containers-btn:hover {
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

////// Dashboard /////

.dashboard {
    // border: 2px solid white;
    width: 100%;
    padding: 20px 20px;
    // height: 500px;
}

.metrics-container {
    // border: 2px solid blue;
    padding-top: 90px;
    display: flex;
    height: 900px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.update-metrics {
    position: absolute;
    right: 60px;
    top: 110px;
    background-color: rgba(75,192,192,1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
}

.update-metrics:hover {
    opacity: .9;
    cursor: pointer;
}

///// Graphs /////

.cpu {
    text-align: center;
    height: 400px;
    width: 600px;
    // background-color: grey;
    // flex-direction: column;
}

.memory {
    text-align: center;
    height: 400px;
    width: 600px;
}

.input-output {
    text-align: center;
    height: 400px;
    width: 600px;
}

.swap {
    text-align: center;
    height: 400px;
    width: 600px;
}